In [97]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
import os
import glob

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import classification_report
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
from sklearn.feature_extraction.text import CountVectorizer

In [76]:
J1939_faults = pd.read_csv('data/J1939Faults.csv')
service_fault_codes = pd.read_csv('data/Service_Fault_Codes_1_0_0_167.csv')
VDOD = pd.read_csv('data/VehicleDiagnosticOnboardData.csv')
updated_faults = pd.read_csv('updatedFaults.csv')

C:\Users\Pupnsuds90\AppData\Local\Temp\ipykernel_23564\915579820.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  J1939_faults = pd.read_csv('data/J1939Faults.csv')

In [78]:
J1939_faults.shape

(1187335, 20)

In [79]:
to_drop = [(36.0666667, -86.4347222), (35.5883333, -86.4438888), (36.1950, -83.174722)]

# drop rows with the specified latitude and longitude values
for lat, long in to_drop:
    J1939_faults.drop(J1939_faults[(J1939_faults['Latitude'] == lat) & (J1939_faults['Longitude'] == long)].index, inplace=True)

# print the resulting dataframe
J1939_faults.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1187260 entries, 0 to 1187334
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   RecordID               1187260 non-null  int64
 1   ESS_Id                 1187260 non-null  int64
 2   EventTimeStamp         1187260 non-null  object
 3   eventDescription       1126423 non-null  object
 4   actionDescription      0 non-null        float64
 5   ecuSoftwareVersion     891224 non-null   object
 6   ecuSerialNumber        844258 non-null   object
 7   ecuModel               1122507 non-null  object
 8   ecuMake                1122507 non-null  object
 9   ecuSource              1187260 non-null  int64
 10  spn                    1187260 non-null  int64
 11  fmi                    1187260 non-null  int64
 12  active                 1187260 non-null  bool
 13  activeTransitionCount  1187260 non-null  int64
 14  faultValue             0 non-null        float64
 15  EquipmentID            1187260 non-null  object
 16  MCTNumber              1187260 non-null  int64
 17  Latitude               1187260 non-null  float64
 18  Longitude              1187260 non-null  float64
 19  LocationTimeStamp      1187260 non-null  object
dtypes: bool(1), float64(4), int64(7), object(8)
memory usage: 182.3+ MB

In [80]:
J1939_faults['EquipmentID'] = J1939_faults['EquipmentID'].astype(str)

allId = J1939_faults['EquipmentID'].unique().tolist()

truckId = []
for x in range(0, len(allId)):
    if len(allId[x]) < 5:
        truckId.append(allId[x])
    else:
        pass
    
truckId

['1439',
 '1369',
 '1674',
 '1417',
 '1597',
 '1429',
 '1582',
 '309',
 '1601',
 '302',
 '310',
 '1733',
 '1590',
 '1605',
 '1644',
 '1585',
 '1634',
 '1442',
 '1404',
 '1620',
 '1721',
 '1610',
 '1576',
 '1395',
 '1766',
 '1437',
 '305',
 '1586',
 '1600',
 '1558',
 '1630',
 '1646',
 '1595',
 '1432',
 '1377',
 '1641',
 '1469',
 '1371',
 '1365',
 '1677',
 '1609',
 '1612',
 '1768',
 '1650',
 '1657',
 '1514',
 '1703',
 '1451',
 '1625',
 '1565',
 '1520',
 '1623',
 '1363',
 '1569',
 '1390',
 '1607',
 '1776',
 '1370',
 '1474',
 '1673',
 '1749',
 '1658',
 '1449',
 '1566',
 '1499',
 '1427',
 '1688',
 '1467',
 '1669',
 '1606',
 '1462',
 '1553',
 '1683',
 '1391',
 '1458',
 '1727',
 '1632',
 '1778',
 '1559',
 '1431',
 '1372',
 '1769',
 '1492',
 '1434',
 '1611',
 '1402',
 '1460',
 '1481',
 '1555',
 '1375',
 '1651',
 '1419',
 '1580',
 '1374',
 '301',
 '1401',
 '1614',
 '1737',
 '1358',
 '1740',
 '1562',
 '1339',
 '1715',
 '1405',
 '1654',
 '1594',
 '1729',
 '1571',
 '1337',
 '1560',
 '1455',
 '1649',
 '1443',
 '1684',
 '1707',
 '1380',
 '1415',
 '1695',
 '1354',
 '1659',
 '1422',
 '1722',
 '1628',
 '1335',
 '1645',
 '1440',
 '1515',
 '1452',
 '1730',
 '1760',
 '1517',
 '1648',
 '1360',
 '1450',
 '1714',
 '1602',
 '1447',
 '1367',
 '1666',
 '1550',
 '1414',
 '1615',
 '1725',
 '1488',
 '1759',
 '1411',
 '1589',
 '1338',
 '1359',
 '1399',
 '1459',
 '1741',
 '1349',
 '1473',
 '1468',
 '1418',
 '1503',
 '1466',
 '1428',
 '1587',
 '307',
 '1527',
 '1671',
 '1575',
 '1640',
 '1616',
 '1386',
 '1551',
 '1392',
 '1765',
 '1604',
 '1409',
 '1366',
 '1561',
 '1599',
 '1410',
 '1578',
 '1421',
 '1728',
 '304',
 '1748',
 '1368',
 '1642',
 '1495',
 '1573',
 '1355',
 '1397',
 '1487',
 '1398',
 '1635',
 '1389',
 '1526',
 '1457',
 '1464',
 '1456',
 '1633',
 '1502',
 '1655',
 '1547',
 '1723',
 '1584',
 '1346',
 '1465',
 '1700',
 '1364',
 '1425',
 '1763',
 '1519',
 '1656',
 '1510',
 '1387',
 '1622',
 '1328',
 '1667',
 '1629',
 '1497',
 '1619',
 '1470',
 '1653',
 '1433',
 '1716',
 '1581',
 '1444',
 '1685',
 '1754',
 '1490',
 '1719',
 '1699',
 '1330',
 '1724',
 '1352',
 '1738',
 '1361',
 '1412',
 '1718',
 '1593',
 '1486',
 '1413',
 '1557',
 '1636',
 '1705',
 '1617',
 '1552',
 '1424',
 '1631',
 '1662',
 '1772',
 '1712',
 '1556',
 '1396',
 '1376',
 '1678',
 '1336',
 '1603',
 '1618',
 '1343',
 '1751',
 '1341',
 '1755',
 '1660',
 '1485',
 '1598',
 '1420',
 '1453',
 '1746',
 '1463',
 '1478',
 '1735',
 '1647',
 '1567',
 '1621',
 '1383',
 '1732',
 '1577',
 '1357',
 '1742',
 '1384',
 '1362',
 '1435',
 '1332',
 '1679',
 '1379',
 '1608',
 '1588',
 '1568',
 '1626',
 '1327',
 '1570',
 '1739',
 '1686',
 '1331',
 '1717',
 '1448',
 '1482',
 '1498',
 '1596',
 '1373',
 '1779',
 '1731',
 '1416',
 '1704',
 '1574',
 '1393',
 '1638',
 '1329',
 '1711',
 '1491',
 '1344',
 '1643',
 '1627',
 '1663',
 '1347',
 '1752',
 '1340',
 '1692',
 '1664',
 '1694',
 '1509',
 '1378',
 '1661',
 '1334',
 '1579',
 '1665',
 '1446',
 '1591',
 '1676',
 '1350',
 '1430',
 '1454',
 '1348',
 '1333',
 '1787',
 '1351',
 '1785',
 '1786',
 '1782',
 '1342',
 '1563',
 '1784',
 '1489',
 '1781',
 '1345',
 '1757',
 '1518',
 '1592',
 '1554',
 '1480',
 '1388',
 '1702',
 '1441',
 '1438',
 '1691',
 '1385',
 '1761',
 '1774',
 '1461',
 '1484',
 '1406',
 '1687',
 '1445',
 '1426',
 '1783',
 '1353',
 '1564',
 '1706',
 '1747',
 '1408',
 '1744',
 '1613',
 '1506',
 '1758',
 '1493',
 '1764',
 '1745',
 '1500',
 '1726',
 '1780',
 '1743',
 '1639',
 '1475',
 '1516',
 '1403',
 '1713',
 '1583',
 '1476',
 '1720',
 '1708',
 '1762',
 '1697',
 '1696',
 '1508',
 '1670',
 '1788',
 '1652',
 '1701',
 '1356',
 '1693',
 '1681',
 '1682',
 '1689',
 '1423',
 '1767',
 '1750',
 '1624',
 '1637',
 '1789',
 '1680',
 '1756',
 '1770',
 '1382',
 '308',
 '1690',
 '1501',
 '1771',
 '1773',
 '1790',
 '1753',
 '1672',
 '1734',
 '1572',
 '306',
 '1710',
 '1494',
 '1675',
 '1791',
 '1736',
 '1471',
 '1792',
 '1472',
 '1709',
 '1400',
 '1511',
 '1483',
 '1513',
 '1795',
 '1381',
 '1794',
 '1796',
 '1477',
 '1505',
 '1479',
 '1797',
 '1407',
 '1799',
 '1798',
 '1668',
 '1800',
 '1793',
 '1801',
 '1777',
 '1504',
 '1802',
 '1507',
 '1698',
 '1537',
 '1775',
 '1804',
 '1806',
 '1808',
 '1807',
 '1803',
 '1805',
 '1811',
 '1810',
 '1812',
 '1813',
 '1814',
 '1815',
 '1809',
 '1819',
 '1818',
 '1512',
 '1816',
 '1817',
 '1820',
 '303',
 '1524',
 '1535',
 '1821',
 '1534',
 '1840',
 '1829',
 '1833',
 '1827',
 '1826',
 '1830',
 '1831',
 '1828',
 '1822',
 '1825',
 '1849',
 '1850',
 '1843',
 '1848',
 '1845',
 '1834',
 '1846',
 '1839',
 '1844',
 '1525',
 '1842',
 '1841',
 '1832',
 '1838',
 '1823',
 '1836',
 '1864',
 '1851',
 '1857',
 '1863',
 '1862',
 '1855',
 '1854',
 '1860',
 '1878',
 '1877',
 '1868',
 '1879',
 '1890',
 '1882',
 '1876',
 '1539',
 '1893',
 '1883',
 '1881',
 '1900',
 '1901',
 '1867',
 '1528',
 '1899',
 '1872',
 '1884',
 '1887',
 '1909',
 '1907',
 '1914',
 '1896',
 '1912',
 '1915',
 '1892',
 '1922',
 '1886',
 '1929',
 '1870',
 '1906',
 '1933',
 '1916',
 '1911',
 '1880',
 '1928',
 '1904',
 '1936',
 '1935',
 '1925',
 '1835',
 '1950',
 '1874',
 '1888',
 '1943',
 '1858',
 '1885',
 '1946',
 '1918',
 '1837',
 '1869',
 '1942',
 '1861',
 '1951',
 '1939',
 '1913',
 '1962',
 '1919',
 '1853',
 '1958',
 '1930',
 '1953',
 '1947',
 '1866',
 '1960',
 '1549',
 '1902',
 '1895',
 '1873',
 '1940',
 '1923',
 '1898',
 '1875',
 '1894',
 '1529',
 '1959',
 '1891',
 '1905',
 '1917',
 '1963',
 '1927',
 '1955',
 '1856',
 '1931',
 '1961',
 '1934',
 '1920',
 '1531',
 '1937',
 '1859',
 '1871',
 '1926',
 '1924',
 '1973',
 '1980',
 '1970',
 '1968',
 '1945',
 '1957',
 '1932',
 '1972',
 '1921',
 '1521',
 '1954',
 '1903',
 '1865',
 '1986',
 '1979',
 '1991',
 '1938',
 '1998',
 '1956',
 '1994',
 '1995',
 '1944',
 '1982',
 '1990',
 '1983',
 '1981',
 '1852',
 '1997',
 '1965',
 '2001',
 '1966',
 '1985',
 '1989',
 '1910',
 '1543',
 '1996',
 '1969',
 '1978',
 '1977',
 '2005',
 '1975',
 '2003',
 '1971',
 '1889',
 '1530',
 '1948',
 '1897',
 '2004',
 '1949',
 '1999',
 '1974',
 '1941',
 '1987',
 '2006',
 '2016',
 '2021',
 '2017',
 '1908',
 '2011',
 '2008',
 '1964',
 '1847',
 '1952',
 '2014',
 '2018',
 '1824',
 '2007',
 '2023',
 '2019',
 '1976',
 '2031',
 '2028',
 '1992',
 '2030',
 '2032',
 '2039',
 '2040',
 '2038',
 '2044',
 '1993',
 '1548',
 '2045',
 '2035',
 '2042',
 '2026',
 '2009',
 '2027',
 '2043',
 '2020',
 '2061',
 '2022',
 '2013',
 '2060',
 '2056',
 '2029',
 '2036',
 '2015',
 '2059',
 '2041',
 '2062',
 '2010',
 '2065',
 '1967',
 '2034',
 '2070',
 '2000',
 '2063',
 '2012',
 '2067',
 '2057',
 '2025',
 '1984',
 '2074',
 '2052',
 '2037',
 '2053',
 '2002',
 '2024',
 '2078',
 '2068',
 '2081',
 '2050',
 '2085',
 '2084',
 '2079',
 '2083',
 '2082',
 '2077',
 '2086',
 '2090',
 '2089',
 '2092',
 '2095',
 '2093',
 '2088',
 '2096',
 '2064',
 '2094',
 '2075',
 '2080',
 '2106',
 '2097',
 '2111',
 '2100',
 '2109',
 '2115',
 '2103',
 '2120',
 '2091',
 '2105',
 '2099',
 '2108',
 '2127',
 '2143',
 '2139',
 '2131',
 '2071',
 '2033',
 '2135',
 '2110',
 '2121',
 '2102',
 '2114',
 '2058',
 '2117',
 '2144',
 '2129',
 '2118',
 '2140',
 '2136',
 '2087',
 '2146',
 '2126',
 '2098',
 '2066',
 '2054',
 '2101',
 '2119',
 '2104',
 '2076',
 '2072',
 '2133',
 '2051',
 '2130',
 '2137',
 '2116',
 '2124',
 '2138',
 '2107',
 '2134',
 '2141',
 '2142',
 '2122',
 '2048',
 '2112',
 '2149',
 '2156',
 '2151',
 '2152',
 '2148',
 '2154',
 '2155',
 '2150',
 '2153',
 '2147',
 '1988',
 '2125',
 '2128',
 '2113',
 '2172',
 '2168',
 '2171',
 '2170',
 '2164',
 '2174',
 '2166',
 '2158',
 '2145',
 '2161',
 '2163',
 '2165',
 '2169',
 '2175',
 '2162',
 '2159',
 '2176',
 '2157',
 '2047',
 '2167',
 '2160',
 '2183',
 '2046',
 '2178',
 '2179',
 '2177',
 '2185',
 '2189',
 '2180',
 '2184',
 '2055',
 '2188',
 '2182',
 '2192',
 '2073',
 '2181',
 '2193',
 '2187',
 '2195',
 '2190',
 '2049',
 '2194',
 '2199',
 '2202',
 '2191',
 '2197',
 '2198',
 '2200',
 '2205',
 '2203',
 '2204',
 '2208',
 '2206',
 '2207',
 '2186',
 '2209',
 '2218',
 '2219',
 '2210',
 '2214',
 '2213',
 '2215',
 '2216',
 '2212',
 '2201',
 '2211',
 '2217',
 '2069',
 '2221',
 '2222',
 '2228',
 '2220',
 '2226',
 '2230',
 '2231',
 '2225',
 '2232',
 '2233',
 '2229',
 '2224',
 '2234',
 '2237',
 '2227',
 '2239',
 '2235',
 '2223',
 '2241',
 '2246',
 '2243',
 '2242',
 '2252',
 '2240',
 '2236',
 '2249',
 '2250',
 '2245',
 '2244',
 '2253',
 '2238',
 '2256',
 '2132',
 '2254',
 '2261',
 '2257',
 '2263',
 '2260',
 '2262',
 '2251',
 '2265',
 '2259',
 '2248',
 '2266',
 '2269',
 '2264',
 '2255',
 '2123',
 '2267',
 '2273',
 '2280',
 '2277',
 '2281',
 '2282',
 '2270',
 '2276',
 '2285',
 '2272',
 '2283',
 '2286',
 '2292',
 '2258',
 '2290',
 '2284',
 '2293',
 '2287',
 '2296',
 '2294',
 '2299',
 '2295',
 '2300',
 '2301',
 '2247',
 '2305',
 '2307',
 '2275',
 '2304',
 '2271',
 '2303',
 '2288',
 '2312',
 '2310',
 '2313',
 '2306',
 '2309',
 '2319',
 '2318',
 '2320',
 '2323',
 '2325',
 '2326',
 '2327',
 '2330',
 '2302',
 '2321',
 '2322',
 '2298',
 '2329',
 '2332',
 '2333',
 '2334',
 '2314',
 '2340',
 '2317',
 '2341',
 '2343',
 '2331',
 '2289',
 '2336',
 '2338',
 '2328',
 '2342',
 '2324',
 '2335',
 '2311',
 '2268',
 ...]

In [81]:
J1939_faults.loc[J1939_faults['EquipmentID'].isin(truckId)].reset_index(drop=True)

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185063,1248454,123904424,2020-03-06 14:00:26.000,Low (Severity Low) Catalyst Tank Level,NaN,04384413*22383729*082218154102*60701732*G1*BGT*,80156139,6X1u17D1500000000,CMMNS,0,1761,17,False,3,NaN,2282,105439740,37.094768,-85.897407,2020-03-06 14:00:21.000
1185064,1248455,123905139,2020-03-06 14:04:23.000,Condition Exists Engine Protection Torque Derate,NaN,04358814*06099720*030816202706*09400153*G1*BDR*,79932020,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59.000
1185065,1248456,123905996,2020-03-06 14:13:38.000,Abnormal Rate of Change Aftertreatment 1 Intak...,NaN,05317106*05100987*050719120655*09401585*G1*BDR*,79880653,6X1u13D1500000000,CMMNS,0,3216,10,True,1,NaN,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14.000
1185066,1248457,123906113,2020-03-06 14:14:13.000,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,True,8,NaN,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49.000
1185067,1248458,123906131,2020-03-06 14:15:34.000,Low (Severity Medium) Engine Coolant Level,NaN,04384413*22544852*090619141107*60701756*G1*BGT*,NaN,NaN,NaN,0,111,18,False,8,NaN,2377,108605700,35.027314,-85.323472,2020-03-06 14:15:30.000

In [82]:
J1939_faults['active'] = J1939_faults['active'].astype('int')

In [83]:
J1939_faults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,1,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,1,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,0,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,1,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,0,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [84]:
J1939_faults['EquipmentID'] = J1939_faults['EquipmentID'].astype('str')

In [85]:
trucks5246 = J1939_faults.loc[J1939_faults['spn'] == 5246]['EquipmentID'].unique().tolist()

trucks1569 = J1939_faults.loc[(J1939_faults['spn'] == 1569) & (J1939_faults['fmi'] == 31)]['EquipmentID'].unique().tolist()

In [86]:
vdiag_piv = VDOD.pivot(index = 'FaultId', columns = 'Name', values='Value').reset_index() 

faults_diagnostics = pd.merge(vdiag_piv, J1939_faults, how = 'inner', left_on='FaultId', right_on='RecordID' )

,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,...,111,17,1,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,629,12,1,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1807,2,0,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1807,2,1,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4364,17,0,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187255,1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1761,17,0,3,NaN,2282,105439740,37.094768,-85.897407,2020-03-06 14:00:21.000
1187256,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,...,1569,31,1,5,NaN,1994,105354084,34.390740,-79.461805,2020-03-06 14:04:59.000
1187257,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,...,3216,10,1,1,NaN,1850,105336308,34.430370,-84.920509,2020-03-06 14:14:14.000
1187258,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,...,111,18,1,8,NaN,2377,108605700,35.030925,-85.321527,2020-03-06 14:14:49.000
1187259,1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111,18,0,8,NaN,2377,108605700,35.027314,-85.323472,2020-03-06 14:15:30.000

In [91]:
updated_faults_List = updated_faults['RecordID'].to_list()

In [95]:
updated_faults = faults_diagnostics.loc[faults_diagnostics['RecordID'].isin(updated_faults_List)]

In [96]:
updated_faults.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1054113 entries, 0 to 1187259
Data columns (total 45 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   FaultId                    1054113 non-null  int64
 1   AcceleratorPedal           479193 non-null   object
 2   BarometricPressure         529391 non-null   object
 3   CruiseControlActive        519277 non-null   object
 4   CruiseControlSetSpeed      520327 non-null   object
 5   DistanceLtd                529249 non-null   object
 6   EngineCoolantTemperature   529379 non-null   object
 7   EngineLoad                 528917 non-null   object
 8   EngineOilPressure          529499 non-null   object
 9   EngineOilTemperature       527871 non-null   object
 10  EngineRpm                  529813 non-null   object
 11  EngineTimeLtd              525550 non-null   object
 12  FuelLevel                  454011 non-null   object
 13  FuelLtd                    528845 non-null   object
 14  FuelRate                   528648 non-null   object
 15  FuelTemperature            270731 non-null   object
 16  IgnStatus                  547069 non-null   object
 17  IntakeManifoldTemperature  529486 non-null   object
 18  LampStatus                 1054113 non-null  object
 19  ParkingBrake               352700 non-null   object
 20  ServiceDistance            195 non-null      object
 21  Speed                      527781 non-null   object
 22  SwitchedBatteryVoltage     106064 non-null   object
 23  Throttle                   374127 non-null   object
 24  TurboBoostPressure         527303 non-null   object
 25  RecordID                   1054113 non-null  int64
 26  ESS_Id                     1054113 non-null  int64
 27  EventTimeStamp             1054113 non-null  object
 28  eventDescription           1003690 non-null  object
 29  actionDescription          0 non-null        float64
 30  ecuSoftwareVersion         790262 non-null   object
 31  ecuSerialNumber            748712 non-null   object
 32  ecuModel                   998250 non-null   object
 33  ecuMake                    998250 non-null   object
 34  ecuSource                  1054113 non-null  int64
 35  spn                        1054113 non-null  int64
 36  fmi                        1054113 non-null  int64
 37  active                     1054113 non-null  int32
 38  activeTransitionCount      1054113 non-null  int64
 39  faultValue                 0 non-null        float64
 40  EquipmentID                1054113 non-null  object
 41  MCTNumber                  1054113 non-null  int64
 42  Latitude                   1054113 non-null  float64
 43  Longitude                  1054113 non-null  float64
 44  LocationTimeStamp          1054113 non-null  object
dtypes: float64(4), int32(1), int64(8), object(32)
memory usage: 365.9+ MB

In [87]:
updated_faults[spn, fmi, active, ]

TypeError: '<' not supported between instances of 'str' and 'int'