In [1]:
import pandas as pd
import numpy as np

### FAULTSJ1939 DATA

In [40]:
faults = pd.read_csv('../data/J1939Faults.csv')

<ipython-input-40-beb47cc00ccc>:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  faults = pd.read_csv('../data/J1939Faults.csv')

In [41]:
print(faults.shape)

(1187335, 20)

In [42]:
faults = faults.drop(['ecuSoftwareVersion', 'ecuSerialNumber', 'ecuModel', 'ecuSource'], axis = 1)
faults = faults.drop(['faultValue'], axis = 1)

In [43]:
faults['EquipmentID'] = faults['EquipmentID'].astype(str)

allId = faults['EquipmentID'].unique().tolist()

truckId = []
for x in range(0, len(allId)):
    if len(allId[x]) < 5:
        truckId.append(allId[x])
    else:
        pass

In [44]:
faults.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuMake,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,629,12,True,127,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,1807,2,False,127,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,1807,2,True,127,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,VOLVO,4364,17,False,2,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [47]:
faults['RecordID'].nunique()

1187335

In [48]:
faults.drop_duplicates().shape

(1187335, 15)

In [13]:
faults[faults['spn'] == 5246]['fmi'].unique()

array([ 0, 15, 16, 19, 14], dtype=int64)

In [8]:
faults['spn'].nunique()

450

In [9]:
faults['fmi'].nunique()

26

### FAULT CODES167 DATA

In [29]:
fault_codes167 = pd.read_excel('../data/ServiceFaultCodes_1_0_0_167.xlsx')
print(fault_codes167.shape)
fault_codes167.head(5)

(7124, 14)

C:\Users\16156\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failur...,Error internal to the ECM related to memory ha...
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechan...,Mechanical failure in the engine timing actuat...
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,High signal voltage detected at the engine tim...
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,Low voltage detected at the engine timing actu...
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,Engine Magnetic Speed/Position Lost Both of Tw...,The ECM has detected that the primary and back...

In [50]:
fault_codes167[fault_codes167['SPN'] ==5246]

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
2518,Y,3712,167,Not Mapped,Not Mapped,Not Mapped,0,5246,0,Not Mapped,Red,Stop / Shutdown,Aftertreatment SCR Operator Inducement - Data ...,SCR inducement of 5 mph derate - Fault Code 41...
2781,Y,4134,167,Not Mapped,Not Mapped,Not Mapped,0,5246,15,Not Mapped,Amber,Warning,Aftertreatment SCR Operator Inducement - Data ...,SCR inducement - Least Severe - Fault Code 371...
4338,Y,6254,167,Not Mapped,Not Mapped,Not Mapped,0,5246,16,Not Mapped,Amber,Warning,Aftertreatment SCR Operator Inducement Severit...,NaN

In [33]:
fault_codes167.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7124 entries, 0 to 7123
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Published in CES 14602  7124 non-null   object
 1   Cummins Fault Code      7124 non-null   int64
 2   Revision                7124 non-null   int64
 3   PID                     7124 non-null   object
 4   SID                     7124 non-null   object
 5   MID                     7124 non-null   object
 6   J1587 FMI               7124 non-null   int64
 7   SPN                     7124 non-null   int64
 8   J1939 FMI               7124 non-null   int64
 9   J2012 Pcode             7124 non-null   object
 10  Lamp Color              7124 non-null   object
 11  Lamp Device             7124 non-null   object
 12  Cummins Description     7124 non-null   object
 13  Algorithm Description   2005 non-null   object
dtypes: int64(5), object(9)
memory usage: 779.3+ KB

### VDiagnostic DATA

Contains vehicle diagnostic data from when a fault occurred
       
Warning: Not everything is recorded for every fault code, so there are a large number of missing values in this dataset.

Can be matched with the J1939 (**faults**) file using **FaultId = RecordID**

In [34]:
vdiagnostic = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')
print(vdiagnostic.shape)

(12821626, 4)

In [36]:
vdiagnostic['FaultId'].nunique()

1187335

there are 1.2 mil fault codes

In [37]:
vdiagnostic.head(10)

   Id                       Name            Value  FaultId
0   1                  IgnStatus            False        1
1   2          EngineOilPressure                0        1
2   3       EngineOilTemperature         96.74375        1
3   4         TurboBoostPressure                0        1
4   5                 EngineLoad               11        1
5   6           AcceleratorPedal                0        1
6   7  IntakeManifoldTemperature             78.8        1
7   8                   FuelRate                0        1
8   9                    FuelLtd  12300.907429328        1
9  10                  EngineRpm                0        1

In [55]:
vdiagnostic.groupby('FaultId')['Name'].nunique()

FaultId
1          21
2           2
3           1
4           2
5           1
           ..
1248454     1
1248455    22
1248456    20
1248457    22
1248458     1
Name: Name, Length: 1187335, dtype: int64

In [54]:
vdiagnostic.groupby('FaultId')['Name'].nunique().sum()

12821626

In [53]:
#for faultid =1, there are 21 different names
vdiagnostic[vdiagnostic['FaultId']==1]['Name'].unique()

array(['IgnStatus', 'EngineOilPressure', 'EngineOilTemperature',
       'TurboBoostPressure', 'EngineLoad', 'AcceleratorPedal',
       'IntakeManifoldTemperature', 'FuelRate', 'FuelLtd', 'EngineRpm',
       'LampStatus', 'BarometricPressure', 'FuelLevel', 'Speed',
       'EngineTimeLtd', 'CruiseControlSetSpeed', 'CruiseControlActive',
       'EngineCoolantTemperature', 'ParkingBrake',
       'SwitchedBatteryVoltage', 'DistanceLtd'], dtype=object)

In [56]:
vdiagnostic.head()

   Id                  Name     Value  FaultId
0   1             IgnStatus     False        1
1   2     EngineOilPressure         0        1
2   3  EngineOilTemperature  96.74375        1
3   4    TurboBoostPressure         0        1
4   5            EngineLoad        11        1

In [ ]:
#active tells if fault light is on True/False

In [57]:
vdiagnostic
#pivot?

                Id                      Name        Value  FaultId
0                1                 IgnStatus        False        1
1                2         EngineOilPressure            0        1
2                3      EngineOilTemperature     96.74375        1
3                4        TurboBoostPressure            0        1
4                5                EngineLoad           11        1
...            ...                       ...          ...      ...
12821621  12864020  EngineCoolantTemperature        181.4  1248457
12821622  12864021              ParkingBrake        False  1248457
12821623  12864022    SwitchedBatteryVoltage         14.1  1248457
12821624  12864023               DistanceLtd  28606.65625  1248457
12821625  12864024                LampStatus         1023  1248458

[12821626 rows x 4 columns]

In [60]:
vdiag_piv = vdiagnostic.pivot(index = 'FaultId', columns = 'Name', values='Value').reset_index()
vdiag_piv

Name,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,...,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1187330,1248454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN
1187331,1248455,100,14.5,True,64.6226,423937.9,185,51,37.12,211.4937,...,32,True,98.6,18431,False,NaN,65.01096,NaN,73.2,7.83
1187332,1248456,0,14.355,True,66.48672,465925.4,186.8,62,41.18,212.8438,...,NaN,True,91.4,17407,NaN,NaN,66.5741,NaN,100,6.96
1187333,1248457,1.6,14.4275,False,67.72946,28606.65625,181.4,0,27.26,221.7312,...,NaN,True,100.4,1023,False,NaN,11.84489,14.1,100,1.74
1187334,1248458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
vdiag_piv['FaultId'].nunique()

1187335

In [65]:
faults_diagnostics = pd.merge(vdiag_piv, faults, how = 'inner', left_on='FaultId', right_on='RecordID' )

In [66]:
faults_diagnostics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1187335 entries, 0 to 1187334
Data columns (total 40 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   FaultId                    1187335 non-null  int64
 1   AcceleratorPedal           531889 non-null   object
 2   BarometricPressure         585976 non-null   object
 3   CruiseControlActive        574916 non-null   object
 4   CruiseControlSetSpeed      576458 non-null   object
 5   DistanceLtd                585819 non-null   object
 6   EngineCoolantTemperature   586071 non-null   object
 7   EngineLoad                 585621 non-null   object
 8   EngineOilPressure          586244 non-null   object
 9   EngineOilTemperature       583912 non-null   object
 10  EngineRpm                  586921 non-null   object
 11  EngineTimeLtd              581366 non-null   object
 12  FuelLevel                  502795 non-null   object
 13  FuelLtd                    585195 non-null   object
 14  FuelRate                   585237 non-null   object
 15  FuelTemperature            299110 non-null   object
 16  IgnStatus                  608454 non-null   object
 17  IntakeManifoldTemperature  586291 non-null   object
 18  LampStatus                 1187335 non-null  object
 19  ParkingBrake               399972 non-null   object
 20  ServiceDistance            215 non-null      object
 21  Speed                      583916 non-null   object
 22  SwitchedBatteryVoltage     114059 non-null   object
 23  Throttle                   420503 non-null   object
 24  TurboBoostPressure         583351 non-null   object
 25  RecordID                   1187335 non-null  int64
 26  ESS_Id                     1187335 non-null  int64
 27  EventTimeStamp             1187335 non-null  object
 28  eventDescription           1126490 non-null  object
 29  actionDescription          0 non-null        float64
 30  ecuMake                    1122577 non-null  object
 31  spn                        1187335 non-null  int64
 32  fmi                        1187335 non-null  int64
 33  active                     1187335 non-null  bool
 34  activeTransitionCount      1187335 non-null  int64
 35  EquipmentID                1187335 non-null  object
 36  MCTNumber                  1187335 non-null  int64
 37  Latitude                   1187335 non-null  float64
 38  Longitude                  1187335 non-null  float64
 39  LocationTimeStamp          1187335 non-null  object
dtypes: bool(1), float64(3), int64(7), object(29)
memory usage: 363.5+ MB

#Notes from Rohit/Neda
chi square - Which specific diagnostic to see if only certain faults occur more than others 

rolling window observation window - for each observation, was there a fault or not

pandas rolling window

survival analysis-

observation prediction window


ML PART --HOW DO YOU WANT TO SPLIT YOUR TRAIN/TEST

In [68]:
faults_diagnostics[faults_diagnostics['spn'] ==5246]

,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,...,ecuMake,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
45,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CMMNS,5246,0,True,1,1395,105349612,36.065972,-86.433425,2015-02-21 12:11:27.000
1918,1919,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CMMNS,5246,0,True,1,1395,105349612,36.066203,-86.434814,2015-02-22 19:46:27.000
2058,2059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CMMNS,5246,0,False,1,1395,105349612,36.066666,-86.434537,2015-02-23 01:06:06.000
2089,2090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CMMNS,5246,0,True,1,1630,105329900,40.733009,-74.087777,2015-02-23 05:08:23.000
2971,2972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,unknown,5246,0,True,1,1487,105369355,28.077361,-81.897083,2015-02-23 15:54:58.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1183032,1244156,0,14.5725,False,64.6226,527882.7,55.4,16,44.66,53.375,...,CMMNS,5246,0,True,1,1814,105369518,36.067037,-86.434120,2020-02-19 07:03:09.000
1183684,1244808,0,14.645,False,0,126788.6,77,18,40.6,82.00625,...,CMMNS,5246,16,True,1,2211,105329862,36.066296,-86.434305,2020-02-21 07:24:20.000
1184328,1245452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CMMNS,5246,16,False,1,2211,105329862,36.066620,-86.434722,2020-02-24 15:28:01.000
1184330,1245454,0,14.21,False,0,126789.3,77,0,0,77.7875,...,CMMNS,5246,0,True,1,2211,105329862,36.066620,-86.434722,2020-02-24 15:28:02.000
1185275,1246399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,CMMNS,5246,0,False,1,2211,105329862,36.066296,-86.434490,2020-02-27 12:11:29.000

In [ ]:
#event description for codes spn and fmi

In [ ]:
# trucks5246 = faults.loc[faults['spn'] == 5246]['EquipmentID'].unique().tolist()

# trucks1569 = faults.loc[(faults['spn'] == 1569) & (faults['fmi'] == 31)]['EquipmentID'].unique().tolist()

In [ ]:
#data['LocationTimeStamp'] = 
pd.to_datetime(data['LocationTimeStamp'])