In [4]:
import pandas as pd
import numpy as np
import datetime
from itertools import product

**Must haves for this notebook to work**
* yTrain and yTest files
* columns labeled EquipmentID, EventTimeStamp, target, prediction for both files
* target should be a column of 1's and 0's
* prediction should be a numerical value between 1 and 0

*Once above is done then you need to move your training file and test file into the data folder within the folder the notebook is in.*

*Finally replace 'YOUR_X_FILE_NAME_HERE' with training in first cell and test in the second. Keep the '' around your file name*

*Once done you can run all cells.*

**Training read in**

In [5]:
yTrain = pd.read_csv('../data/{file_name}.csv'.format(file_name = 'hg_yTrain'))
yTrain

        EquipmentID       EventTimeStamp  target  prediction
0              1328  2015-02-23 10:24:18     0.0    0.167260
1              1328  2015-02-25 07:24:50     0.0    0.167260
2              1328  2015-02-26 20:14:29     0.0    0.167260
3              1328  2015-02-26 23:56:07     0.0    0.031281
4              1328  2015-02-27 04:10:23     0.0    0.005586
...             ...                  ...     ...         ...
427536          309  2019-09-25 07:25:07     0.0    0.000083
427537          309  2019-09-25 09:10:22     0.0    0.000076
427538          309  2019-09-25 09:10:22     0.0    0.000057
427539          309  2020-02-03 07:54:13     0.0    0.029828
427540          309  2020-02-04 05:25:22     0.0    0.007104

[427541 rows x 4 columns]

**Test read in**

In [6]:
yTest = pd.read_csv('../data/{file_name}.csv'.format(file_name = 'hg_yTest'))
yTest

        EquipmentID       EventTimeStamp  target  prediction
0              1327  2015-05-04 15:38:35     0.0    0.020931
1              1327  2015-05-07 06:52:14     0.0    0.013098
2              1327  2015-05-19 12:02:55     0.0    0.472384
3              1327  2015-05-26 08:11:45     0.0    0.472384
4              1327  2015-05-26 08:44:10     0.0    0.824266
...             ...                  ...     ...         ...
118874          310  2018-11-21 20:57:59     0.0    0.043526
118875          310  2019-10-09 23:32:35     0.0    0.043526
118876          310  2019-11-12 00:16:41     0.0    0.054404
118877          310  2019-11-12 00:16:41     0.0    0.023456
118878          310  2019-11-12 00:24:39     0.0    0.008129

[118879 rows x 4 columns]

*Reading in data of derates that will be used to make a list. Will already be in the data folder.*

In [7]:
derates = pd.read_csv('../data/derates.csv').drop_duplicates()

*Making sure all time columns are a datetime.*

In [8]:
derates['EventTimeStamp'] = pd.to_datetime(derates['EventTimeStamp'])
yTrain['EventTimeStamp'] = pd.to_datetime(yTrain['EventTimeStamp'])
yTest['EventTimeStamp'] = pd.to_datetime(yTest['EventTimeStamp'])

In [9]:
derates = derates.loc[(derates.groupby('EquipmentID').diff().fillna(pd.to_timedelta(10,'d')) >= '7 D')['EventTimeStamp']]

In [10]:
derates.shape

(296, 2)

*The nasty function. Will try to explain what happens in comments if you are interested*

In [11]:
def model_eval(yTrain, yTest, derates = derates):
    #Creating a unique list of equipment ids that have had a derate.
    derateTrucks = derates['EquipmentID'].drop_duplicates().to_list()
    
    #Using the list made above to create a list of all the trucks that have had a derate in the training data. 
    trainDeratesTrucks = [x for x in derateTrucks if x in yTrain['EquipmentID'].to_list()]
    
    #The first for loop is removing rows around a derate so false postives can be calculated
    removal = []
    for truck in trainDeratesTrucks:
        dates = (
            derates
            .loc[derates['EquipmentID'] == truck]
            #.sort_values(by = 'EventTimeStamp')   #First chunk is going through and grabbing derate times by equipment id
            #.drop_duplicates('EquipmentID')
            .reset_index(drop = True)['EventTimeStamp']
        )
        for date in dates:
            pre = date - datetime.timedelta(hours = 24 * 7)   #calculating a week before and week after a derate
            post = date + datetime.timedelta(hours = 24 * 7)

            times = yTrain.loc[                      
                (yTrain['EquipmentID'] == truck) &     #Using those times above to filter yTrain 
                (yTrain['EventTimeStamp'] >= pre) &
                (yTrain['EventTimeStamp'] <= post)
            ].reset_index(drop = True)

            removal.append(times)    #appending to empty list so it can be turned into a dataframe
            
    removal = (
        yTrain
        .merge(
            pd.concat(removal),       #"Anti-merging" the dataframe we created above so we can remove those values
            how = 'outer', 
            on = ['EquipmentID', 'EventTimeStamp', 'target', 'prediction'], 
            indicator = True
        )
    )

    yTrainNoDerate = removal.loc[removal['_merge'] == 'left_only'] #finalizing the "anti-merge"
    
    ######################################################################################################################
    
    #These are the different threshold values I looped through. Feel free to change them if you see something.
    varience = [.99, .95, .9, .85, .8, .75, .7, .6, .5, .4, .3]
    hoursPre = [5, 4, 3 , 2, 1]

    #This for loop calculates the entire confusion matrix on the training data at different thresholds
    df = []
    for x in product(varience, hoursPre):      #This is looping through the list we created above
        truePos = []
        for truck in trainDeratesTrucks:
            dates = (
                derates
                .loc[derates['EquipmentID'] == truck]     #Same as the loop above this is grabbing times of derates
                #.sort_values(by = 'EventTimeStamp')
                #.drop_duplicates('EquipmentID')
                .reset_index(drop = True)['EventTimeStamp']
            )
            for date in dates:
                pre = date - datetime.timedelta(hours = 24) #Pre is the same as above
                post = date - datetime.timedelta(hours = x[1])  #Post is now 1 hour prior to a derate 

                times = yTrain.loc[
                    (yTrain['EquipmentID'] == truck) &
                    (yTrain['EventTimeStamp'] >= pre) &  #Using those times above to filter yTrain 
                    (yTrain['EventTimeStamp'] <= post)
                ].reset_index(drop = True)
                
                #searching to see if the max prediciton is greater than or equal to the set threshold
                truePos.append(int(times['prediction'].max() >= x[0])) #True Positive
        
        #Summing the times there was more than a day between when the model predicited there was a derate when there wasn't a derate
        falsePos = (                        #False Positive
            yTrainNoDerate
            .loc[yTrainNoDerate['prediction'] > x[0]]
            .groupby('EquipmentID')['EventTimeStamp']
            .diff()
            .fillna(pd.to_timedelta(5,'d')) > '1 D'
        ).sum()

        df.append({
            'threshold' : x[0],
            'hoursPre' : x[1],
            'truePos' : sum(truePos),
            'falseNeg' : len(truePos) - sum(truePos),  #Building the dataframe confusion matrix
            'falsePos' : falsePos,
            'trueNeg' : len(yTrainNoDerate) - falsePos
        })
        
    confusionMatrix = pd.DataFrame(df)
    #calculated the total gained or lost by our model
    confusionMatrix['netP_L'] = confusionMatrix['truePos'] * 4000 - confusionMatrix['falsePos'] * 500
    #ordering by best threshold to worst
    confusionMatrix = confusionMatrix.sort_values('netP_L', ascending = False).reset_index(drop = True)
    
    #####################################################################################################################
    
    #below are the same steps above but for the testing data and only using the best threshold that was found in the 
    #training data
    
    testDeratesTrucks = [x for x in derateTrucks if x in yTest['EquipmentID'].to_list()]
    removalTest = []
    for truck in testDeratesTrucks:
        dates = (
            derates
            .loc[derates['EquipmentID'] == truck]
            #.sort_values(by = 'EventTimeStamp')
            #.drop_duplicates('EquipmentID')
            .reset_index(drop = True)['EventTimeStamp']
        )
        for date in dates:
            pre = date - datetime.timedelta(hours = 24 * 7)
            post = date + datetime.timedelta(hours = 24 * 7)

            times = yTest.loc[
                (yTest['EquipmentID'] == truck) &
                (yTest['EventTimeStamp'] >= pre) &
                (yTest['EventTimeStamp'] <= post)
            ].reset_index(drop = True)

            removalTest.append(times)
            
    removalTest = (
        yTest
        .merge(
            pd.concat(removalTest), 
            how = 'outer', 
            on = ['EquipmentID', 'EventTimeStamp', 'target', 'prediction'], 
            indicator = True
        )
    )

    yTestNoDerate = removalTest.loc[removalTest['_merge'] == 'left_only']
    
    ####################################################################################################################
    
    testDeratesTrucks = [x for x in derateTrucks if x in yTest['EquipmentID'].to_list()]
    dfTest = []
    truePos = []
    for truck in testDeratesTrucks:
        dates = (
            derates
            .loc[derates['EquipmentID'] == truck]
            #.sort_values(by = 'EventTimeStamp')
            #.drop_duplicates('EquipmentID')
            .reset_index(drop = True)['EventTimeStamp']
        )
        for date in dates:
            pre = date - datetime.timedelta(hours = 24)
            post = date - datetime.timedelta(hours = int(confusionMatrix['hoursPre'][0]))

            times = yTest.loc[
                (yTest['EquipmentID'] == truck) &
                (yTest['EventTimeStamp'] >= pre) &
                (yTest['EventTimeStamp'] <= post)
            ].reset_index(drop = True)

            truePos.append(int(times['prediction'].max() >= confusionMatrix['threshold'][0]))

    falsePos = (
        yTestNoDerate
        .loc[yTestNoDerate['prediction'] > confusionMatrix['threshold'][0]]
        .groupby('EquipmentID')['EventTimeStamp']
        .diff()
        .fillna(pd.to_timedelta(5,'d')) > '1 D'
    ).sum()

    dfTest.append({
        'var' : confusionMatrix['threshold'][0],
        'hoursPre' : confusionMatrix['hoursPre'][0],
        'truePos' : sum(truePos),
        'falseNeg' : len(truePos) - sum(truePos),
        'falsePos' : falsePos,
        'trueNeg' : len(yTestNoDerate) - falsePos
    })
    
    confusionMatrixTest = pd.DataFrame(dfTest)
    confusionMatrixTest['netP_L'] = confusionMatrixTest['truePos'] * 4000 - confusionMatrixTest['falsePos'] * 500
    
    return confusionMatrix, confusionMatrixTest

In [12]:
confusionMatrixTrain = model_eval(yTrain, yTest)[0]

confusionMatrixTrain

    threshold  hoursPre  truePos  falseNeg  falsePos  trueNeg  netP_L
0        0.95         1      116       117       563   420320  182500
1        0.95         2      112       121       563   420320  166500
2        0.95         3      107       126       563   420320  146500
3        0.99         1       52       181       171   420712  122500
4        0.90         1      146        87       926   419957  121000
5        0.99         2       49       184       171   420712  110500
6        0.95         4       95       138       563   420320   98500
7        0.90         2      139        94       926   419957   93000
8        0.99         3       38       195       171   420712   66500
9        0.90         3      130       103       926   419957   57000
10       0.99         4       32       201       171   420712   42500
11       0.85         1      165        68      1243   419640   38500
12       0.95         5       75       158       563   420320   18500
13       0.85         2      158        75      1243   419640   10500
14       0.99         5       23       210       171   420712    6500
15       0.90         4      114       119       926   419957   -7000
16       0.85         3      150        83      1243   419640  -21500
17       0.80         1      170        63      1459   419424  -49500
18       0.80         2      164        69      1459   419424  -73500
19       0.85         4      134        99      1243   419640  -85500
20       0.90         5       92       141       926   419957  -95000
21       0.80         3      156        77      1459   419424 -105500
22       0.75         1      171        62      1589   419294 -110500
23       0.75         2      165        68      1589   419294 -134500
24       0.70         1      174        59      1706   419177 -157000
25       0.85         5      114       119      1243   419640 -165500
26       0.75         3      157        76      1589   419294 -166500
27       0.80         4      140        93      1459   419424 -169500
28       0.70         2      167        66      1706   419177 -185000
29       0.60         1      175        58      1830   419053 -215000
30       0.70         3      159        74      1706   419177 -217000
31       0.80         5      128       105      1459   419424 -217500
32       0.75         4      141        92      1589   419294 -230500
33       0.60         2      169        64      1830   419053 -239000
34       0.60         3      160        73      1830   419053 -275000
35       0.75         5      129       104      1589   419294 -278500
36       0.70         4      143        90      1706   419177 -281000
37       0.50         1      178        55      2028   418855 -302000
38       0.70         5      132       101      1706   419177 -325000
39       0.50         2      172        61      2028   418855 -326000
40       0.60         4      146        87      1830   419053 -331000
41       0.50         3      163        70      2028   418855 -362000
42       0.60         5      136        97      1830   419053 -371000
43       0.50         4      149        84      2028   418855 -418000
44       0.40         1      180        53      2290   418593 -425000
45       0.40         2      173        60      2290   418593 -453000
46       0.50         5      139        94      2028   418855 -458000
47       0.40         3      164        69      2290   418593 -489000
48       0.30         1      181        52      2534   418349 -543000
49       0.40         4      150        83      2290   418593 -545000
50       0.30         2      175        58      2534   418349 -567000
51       0.40         5      140        93      2290   418593 -585000
52       0.30         3      166        67      2534   418349 -603000
53       0.30         4      152        81      2534   418349 -659000
54       0.30         5      143        90      2534   418349 -695000

In [13]:
confusionMatrixTest = model_eval(yTrain, yTest)[1]

confusionMatrixTest

    var  hoursPre  truePos  falseNeg  falsePos  trueNeg  netP_L
0  0.95         1       26        37       140   117390   34000